---
- name: Prepare Docker Host Infrastructure
  hosts: all
  become: true
  
  roles:
    - common
    - docker
    - security
    - monitoring

  post_tasks:
    - name: Verify Docker is running
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Display deployment info
      debug:
        msg: "Server {{ inventory_hostname }} is ready for deployments"
